NEXT_PUBLIC_SUPABASE_URL=https://jorhexichjwwfxczfnmh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcmhleGljaGp3d2Z4Y3pmbm1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2OTE5NDMsImV4cCI6MjA5MjI2Nzk0M30.sj-0vD9jIXhjgbCM9G9KA0Cml_cwV3qrL0UeMQpPPyU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcmhleGljaGp3d2Z4Y3pmbm1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY5MTk0MywiZXhwIjoyMDkyMjY3OTQzfQ.RBAG0QbMPV42MJG8aMqLXeGHgwEDyEylnETlayG9qOQ
NEXT_PUBLIC_SITE_URL=http://wahelu.vercel.app
